<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-20thread] %-5level %-40logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <timestamp key="yyyyMMdd" datePattern="yyyy-MM-dd"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/logback.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/logback.%d.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-20thread] %-5level %-40logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="net.simforge" level="ALL"/>

    <logger name="org.hibernate" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
